
<div class="aside-wrap">
    <div class="navi-wrap">
        <!-- nav -->
        <nav ui-nav class="navi">
            <!-- first -->
            <ul class="nav">
                  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                      <span >
                        我的主页
                      </span>
                  </li>

                <li ui-sref-active="active">
                    <a ui-sref="info">
                        <i class="glyphicon glyphicon-chevron-right icon text-info-dker"></i>
                    <span class="font-bold" >
                         个人信息
                    </span>
                    </a>
                </li>
            <li ui-sref-active="active">
                <a ui-sref="pwd">
                    <i class="glyphicon glyphicon-chevron-right icon text-info-dker"></i>
                    <span class="font-bold" >
                         修改密码
                    </span>
                 </a>
            </li>


            </ul>
            <!-- / third -->
        </nav>
        <!-- nav -->


    </div>
</div>
